<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse Recipes</title>
</head>
<body>
    <!-- Your content goes here -->
     <h1>Browse Recipes</h1>
     <p><a href="recipe_detail.html">View a Recipe</a></p>

     <div class="navbar">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="./browse.html">Browse</a></li>
        </ul>
    </div>    

</body>
</html>


