<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse Recipes</title>
    <link rel="stylesheet" href="../static/css/main.css" type="text/css">
    <link rel="stylesheet" href="../static/css/sidenav.css" type="text/css">
</head>
<body>

    <div class="sidenav">
        <a href="./index.html">Home</a>
        <a href="browse.html">Browse Recipes</a>
    </div>
    <!-- Your content goes here -->
    <div class="welcome-block">
        <h1>Browse Recipes</h1>
    </div>
    <div class="recipe-filter">
        <h3>FILTER</h3>
        <p>filter blocks</p>
    </div>

    <a href="recipe_detail.html">
        <div class="recipe-list">
            <div class="recipe-block">
                <img src="https://img.sndimg.com/food/image/upload/w_555,h_416,c_fit,fl_progressive,q_95/v1/img/recipes/56/nTwHmSmmRqGCr5HAUapC_pie-1194.jpg" alt="product-img">
                <p>Buttermilk Pie</p>
            </div>
        </div>
    </a>

</body>
</html>


