<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Recipes Website</title>
    <link rel="stylesheet" href="../static/css/main.css" type="text/css">
    <link rel="stylesheet" href="../static/css/sidenav.css" type="text/css">
</head>
<body>
    <div class="sidenav">
        <a href="./index.html">Home</a>
        <a href="browse.html">Browse Recipes</a>
    </div>
    <!-- Your content goes here -->
    <div class="welcome-block">
        <h1>Welcome to RECIPE WEBAPP</h1>
        <h2>Nothing too fancy here</h2>
    </div>



    <div class="intro-content">
        <img src="https://img.sndimg.com/food/image/upload/w_555,h_416,c_fit,fl_progressive,q_95/v1/img/recipes/11/6/picq9Ryom.jpg" alt="random-image">
        <p>If you're looking for random paragraphs, you've come to the right place. When a random word or a random sentence isn't quite enough, the next logical step is to find a random paragraph. We created the Random Paragraph Generator with you in mind. The process is quite simple. Choose the number of random paragraphs you'd like to see and click the button. Your chosen number of paragraphs will instantly appear.</p>
    </div>

    <div>

    </div>

</body>
</html>



