<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe</title>
    <link rel="stylesheet" href="../static/css/main.css" type="text/css">
    <link rel="stylesheet" href="../static/css/sidenav.css" type="text/css">
</head>
<body>

    <div class="sidenav">
        <a href="./index.html">Home</a>
        <a href="browse.html">Browse Recipes</a>
    </div>
    <!-- Your content goes here -->

    <div class="recipe-info">
        <h1>Buttermilk Pie</h1>
        <h2>By: thefensk</h2>
        <h2>Date: 30th Aug 2015</h2>
        <img src="https://img.sndimg.com/food/image/upload/w_555,h_416,c_fit,fl_progressive,q_95/v1/img/recipes/56/nTwHmSmmRqGCr5HAUapC_pie-1194.jpg" alt="product-img">

        <div class="recipe-details">
            <p>Category: Pie</p>
            <p>Preparation Time: 20 minutes</p>
            <p>Cook Time: 60 minutes</p>
        </div>

        <div class="recipe-ingredients">
            <h2>Ingredients</h2>
            <ul>
                <li>ingredient 1</li>
                <li>ingredient 2</li>
            </ul>
        </div>

        <div class="recipe-instructions">
            <h2>Instructions</h2>
            <p>['Preheat oven to 400°F.', 'Beat the butter and sugar together until light.', 'Add the eggs and beat; then beat in vanilla.', 'Sift the dry ingredients together and add to the batter alternatively with the buttermilk; beat until smooth.', 'Pour into a deep dish pie shell and bake at 400F for 10 minutes, reduce heat to 350F and bake for 50-60 additional minutes.', 'Pie should turn a nice golden brown and a knife inserted should come out clean.', 'I think it is absolutely best when it is just still warm. (Not too hot, or it will be like napalm.).']</p>
    </div>

</body>
</html>

