<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe</title>
    <link rel="stylesheet" href="../static/css/main.css" type="text/css">
</head>
<body>
    <!-- Your content goes here -->
    <h1>Buttermilk Pie</h1>
    <h2>By: thefensk</h2>
    <h2>Date: 30th Aug 2015</h2>
    <p>IMAGE PLACEHOLDER</p>
     
    <div class="recipe-info">
        <div class="recipe-ingredients">
            <h2>Ingredients</h2>
            <ul>
                <li>ingredient 1</li>
                <li>ingredient 2</li>
            </ul>
        </div>

        <div class="recipe-instructions">
            <h2>Instructions</h2>
        </div>
    </div>

    <div class="navbar">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="browse.html">Browse</a></li>
        </ul>
    </div>      


    <p>replace or newline</p>
</body>
</html>

