<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe</title>
</head>
<body>
    <!-- Your content goes here -->
    <h1>This is a Recipe</h1>
     
    <div class="recipe-info">
        <div class="recipe-ingredients">
            <h2>Ingredients</h2>
        </div>

        <div class="recipe-instructions">
            <h2>Instructions</h2>
        </div>
    </div>

    <div class="navbar">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="browse.html">Browse</a></li>
        </ul>
    </div>      

</body>
</html>

